.chat {
  flex: 2;
  border-left: 2px solid #ffffff42;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ffffff42;
    gap: 16px;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 40px;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: #fff;
        span {
          font-size: 16px;
          font-weight: bold;
        }

        p {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }

    .icons {
      display: flex;
      gap: 16px;
      svg {
        cursor: pointer;
        width: 24px;
        height: 24px;
        color: #fff;
      }
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      .iconsmore {
        position: relative;

        .user-profil-dropdown {
          position: absolute;
          background: #fff;
          border: 1px solid rgba(255, 255, 255, 0.3);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          left: -400%;
          li {
            padding: 10px 34px 10px 10px;
            white-space: nowrap;
            cursor: pointer;
            color: #3498db;
            border-bottom: 1px solid #c9c9c94f;
            border-radius: 4px;
            &:hover {
              background: #3498db;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .center {
    padding: 12px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scrollbar-width: none;
    .message {
      .msgbox {
        width: fit-content;
        padding: 8px;
        max-width: 60%;
        background-color: #3498db;
        border-radius: 4px;
      }
      &.own {
        display: flex;
        align-items: end;
        justify-content: end;
        flex-direction: column;
        .msgbox {
          align-self: flex-end;
          background: #fff;
        }
      }
    }
    .texts {
      display: flex;
      align-items: end;
      gap: 8px;
      font-size: 14px;
      img {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
      }
      span {
        font-size: 10px;
      }
    }
  }

  .bottom {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #ffffff42;
    gap: 16px;
    margin-top: auto;
    position: relative;

    .icons {
      display: flex;
      gap: 20px;
      position: absolute;
      right: 4%;
      top: 50%;
      transform: translateY(-50%);
      svg {
        cursor: pointer;
        width: 20px;
        height: 20px;
        color: #fff;
      }
    }
    input {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      border: none;
      outline: none;
      color: white;
      padding: 12px;
      border-radius: 4px;
      font-size: 16px;
      &:disabled {
        cursor: not-allowed;
      }
    }

    .emoji {
      .picker {
        position: absolute;
        bottom: 35px;
        right: -10%;
        .epr-main {
          width: 250px !important;
          height: 270px !important;
          background: #e0f2f1;
          .epr_-mpla0i {
            scrollbar-width: none;
          }
          .epr_-kg0voo,
          .epr_346qu6 {
            display: none;
          }
        }
      }
    }
  }
}
