.userInfo {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  .user {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      object-fit: cover;
    }
    h2 {
      font-size: 16px;
    }
  }
  .icons {
    position: relative;
    svg {
      color: #fff;
      cursor: pointer;
    }
    .user-profil-dropdown {
      position: absolute;
      background: #fff;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      li {
        padding: 10px 64px 10px 10px;
        cursor: pointer;
        color: #3498db;
        border-bottom: 1px solid #c9c9c94f;
        border-radius: 4px;
        &:hover {
          background: #3498db;
          color: #fff;
        }
      }
    }
  }
}
