.chatList {
  overflow: scroll;
  scrollbar-width: none;
  padding: 10px;
  .search {
    .searchBar {
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      padding: 4px;
      svg {
        color: #fff;
        width: 20px;
        height: 20px;
      }

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
        font-size: 12px;
        &::placeholder {
          color: white;
        }
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .contact-heading {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid #ffffff42;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 8px;
    &.active {
      background: #00796b;
      .texts {
        span {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
    img {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      object-fit: cover;
    }
    img.seen {
      border: 3px solid red;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 3px;
      span {
        font-weight: 500;
        font-size: 13px;
        color: #fff;
      }

      p {
        font-size: 12px;
        font-weight: 300;
        color: #b2dfdb;
        word-break: break-all;
      }
    }
  }
  .searchBar.newUser {
    background-color: rgba(17, 25, 40, 0.5);
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    padding: 4px;
    svg {
      color: #fff;
      width: 20px;
      height: 20px;
    }

    input {
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      flex: 1;
      font-size: 12px;
      &::placeholder {
        color: white;
      }
    }
  }
}
