.chitChat-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .chitChat-item {
    background: #ffffffc7;
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    h2 {
      text-align: center;
      padding-bottom: 40px;
      color: #000000b3;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      input {
        padding: 16px;
        border-radius: 8px;
        font-size: 16px;
        background: transparent;
        border: 1px solid #fff;
        width: 100%;
        &::placeholder {
          color: #fff;
        }
      }
      .chitChat-password-container {
        position: relative;
        svg {
          cursor: pointer;
          position: absolute;
          right: 4%;
          top: 50%;
          transform: translateY(-50%);
          width: 24px;
          color: #000000b3;
        }
      }
      .chitChat-primery-btn {
        margin-top: 24px;
      }
    }
    .chitChat-new-user {
      text-align: right;
      margin-top: 40px;
      color: #000000b3;
      span {
        color: #3498db;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
  .chitChat-item-registration-container {
    h2 {
      padding-bottom: 16px;
    }
    form {
      gap: 16px;
      label {
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;
        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
        }
      }
      input {
        padding: 12px;
      }
      .chitChat-primery-btn {
        margin-top: 12px;
        padding: 12px;
      }
      .chitChat-new-user {
        margin-top: 16px;
      }
    }
  }
}
