.new-user {
  display: flex;
  gap: 12px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  img {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
  }
}
.no-user {
  color: #fff;
  margin-top: 16px;
  border-top: 2px solid #ffffff42;
  padding: 12px;
  h2 {
    color: #f48fb1;
    font-size: 16px;
  }
}
